extends ../layout

block content
    a(href='/estados') Volver

    br
    br
    br

    h1 Actualizando estados

    br
    br

    form(action=`/estados/${estadito.id}/update` method='post')
        label(for='nomEstado') Nombre del Estado:
        input#nomEstado(type='text' name='nomEstado' value=estadito.nomEstado)
        br
        label(for='descripcion') Descripción:
        input#descripcion(type='text' name='descripcion' value=estadito.descripcion)
        br      
        br
        input#btn(type='submit' value='ok')