doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, , shrink-to-fit=no')
  // Bootstrap CSS
  link(href='../../node_modules/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet')
  link(href='../../stylesheets/main.css' rel='stylesheet')
  title Hello, world!

nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
  a.navbar-brand(href='#') Video Juegos
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.me-auto
      li.nav-item.active
        a.nav-link(href='#') Home
      li.nav-item
        a.nav-link(href='./about.html') Nosotros
      li.nav-item
        a.nav-link(href='#') Precios
      li.nav-item
        a.nav-link(href='#') T&eacute;rminos y condiciones
      li.nav-item
        a.nav-link(href='#') Contacto
.container
  nav(aria-label='breadcrumb')
    ol.breadcrumb
      li.breadcrumb-item.active(aria-current='page') Home
  .row
    .col-sm-4
      p
      h3 Para que tipo de consola funcionan?
      p Aplican para play Station 4 y xbox one.
      p
    .col-sm-4
      p
      h3 Es necesario ir a la tienda?
      p No, se pueden adquirir a domicilio
      p
    .col-sm-4
      p
      h3 Como pago?
      p Utiliza tu tarjeta favorita.
      p
  hr
  .d-flex.flex-wrap.flex-row-reverse
    .card-videoJuego.d-flex.flex-column.justify-content-between
      div
        h4 Fifa 2020
        p Video Juego de futbol, con los diferentes torneos que ofrece FIFA
      div
        button.btn.btn-primary.btn-reserva Comprar
    .card-videoJuego.d-flex.flex-column.justify-content-between
      div
        h4 Grant teft auto V
        p Diferentes personajes tienen que cumplir misiones normalmente delincuenciales.
      div
        button.btn.btn-primary.btn-reserva Reservar
    .card-videoJuego.d-flex.flex-column.justify-content-between
      div
        h4 Mortal Combat
        p Juego de combates, con personajes historicamente reconocidos
      div
        button.btn.btn-primary.btn-reserva Reservar
    .card-videoJuego.d-flex.flex-column.justify-content-between
      div
        h4 Resident Evil
        p Juego basado en una pelicula de terror y acci&oacute;n
      div
        button.btn.btn-primary.btn-reserva Reservar
    .card-videoJuego.d-flex.flex-column.justify-content-between
      div
        h4 Pes 2020
        p Juego de futbol, con las nominas actuales de este deporte
      div
        button.btn.btn-primary.btn-reserva Reservar
    .card-videoJuego.d-flex.flex-column.justify-content-between
      div
        h4 Boxeo
        p Juego de combates de boxeo.
      div
        button.btn.btn-primary.btn-reserva Reservar
    .card-videoJuego.d-flex.flex-column.justify-content-between
      div
        h4 Call of Dutty
        p Juego en la cual el personaje que es un soldado realiza misiones.
      div
        button.btn.btn-primary.btn-reserva Reservar
  
script(src='../../node_modules/jquery/dist/jquery.min.js')
script(src='../../node_modules/popper.js/dist/popper.min.js')
script(src='../../node_modules/bootstrap/dist/js/bootstrap.min.js')

footer
  .row
    .col-sm-4.d-flex.flex-column
      a(href='http://facebook.com') facebook
      a(href='http://twitter.com') twitter
      a(href='http://instagram.com') Instagram
      a(href='http://google.com') Google
    .col-sm-4
      address
        h3 Oficina Central
        p Colombia, Bogota D.C
        p +125874585
        p contacto@videojuegos.com
    .col-sm-4.d-flex.flex-column.align-items-end
      a(href='http://facebook.com') Nosotros
      a(href='http://twitter.com') Precios
      a(href='http://instagram.com') Terminos y condiciones
      a(href='http://google.com') contacto