extends ../layout

block content
    a(href='/especies') Volver

    br
    br
    br

    h1 Actualizando especie

    br
    br

    form(action=`/especies/${especiecita.id}/update` method='post')
        label(for='nomEspecie') Nombre de la especie:
        input#nomEspecie(type='text' name='nomEspecie' value=especiecita.nomEspecie)
        br
        label(for='nomCientifico') Nombre cientifico:
        input#nomCientifico(type='text' name='nomCientifico' value=especiecita.nomCientifico)
        br      
        label(for='familiaEspecie') Familia de la especie:
        input#familiaEspecie(type='text' name='familiaEspecie' value=especiecita.familiaEspecie)
        br   
        label(for='alturaMaxEspecie') Altura Maxima Aproximada:
        input#alturaMaxEspecie(type='text' name='alturaMaxEspecie' value=especiecita.alturaMaxEspecie)
        br
        label(for='diametroDAP') Diametro al pecho aproximado:
        input#diametroDAP(type='text' name='diametroDAP' value=especiecita.diametroDAP)
        br
        label(for='formaCopa') Forma de la copa
        select(name='formaCopa' type= 'text' value=arbolito.formaCopa)
            option(disabled='') Selecciona una opción
            option(value='Cónica Ancha') Cónica Ancha
            option(value='Columnar Ancha') Columnar Ancha
            option(value='Esférica') Esférica
            option(value='Fatigada') Fatigada
            option(value='Péndula') Péndula
            option(value='Redondeada') Redondeada
        br
        label(for='formaFruto') Forma del fruto:
        input#formaFruto(type='text' name='formaFruto' value=especiecita.formaFruto)
        br
        label(for='colorFruto') Color del fruto:
        input#colorFruto(type='text' name='colorFruto' value=especiecita.colorFruto)
        br
        label(for='colorCortezaExt') Color de la corteza externa:
        input#colorCortezaExt(type='text' name='colorCortezaExt' value=especiecita.colorCortezaExt)
        br
        label(for='colorCortezaInt') Color de la corteza interna:
        input#colorCortezaInt(type='text' name='colorCortezaInt' value=especiecita.colorCortezaInt)
        br
        label(for='caracTronco') Caracteristicas del tronco:
        input#caracTronco(type='text' name='caracTronco' value=especiecita.caracTronco)
        br
        label(for='colorHoja') Color de la hoja:
        input#diametroDAP(type='text' name='colorHoja' value=especiecita.colorHoja)
        br        
        label(for='tamAproxHoja') Tamaño aproximado de la hoja:
        input#tamAproxHoja(type='text' name='tamAproxHoja' value=especiecita.tamAproxHoja)
        br
        label(for='formaHoja') Forma de la hoja:
        input#formaHoja(type='text' name='formaHoja' value=especiecita.formaHoja)
        br      
        br
        input#btn(type='submit' value='ok')