extends ../layout

block content
    a(href='/emplazamientos') Volver

    br
    br
    br

    h1 Nuevo emplazamiento

    br
    br

    form(action='/emplazamientos/create' method='post')
        label(for='nomEmplazamiento') Nombre del emplazamiento:
        input#nomEmplazamiento(type='text' name='nomEmplazamiento')
        br
        br
        input#btn(type='submit' value='ok')