extends ../layout

block content
    a(href='/') Volver a la página principal
    br
    br
    a(href='/emplazamientos/create') Nuevo Emplazamiento

    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') Nombre            
                th(scope='col') 
                th(scope='col') 
        tbody
            each emplazamientico in emplazamienticos
                tr
                    td(scope='row')
                        =emplazamientico.id
                    td= emplazamientico.nomEmplazamiento               
                    td
                        a(href= 'emplazamientos/' + emplazamientico.id +"/update" class="btn btn-primary") Editar
                    td
                        form.inline(method='post' action='emplazamientos/' + emplazamientico.id + '/delete')
                            input(type='hidden' name='id' value= emplazamientico.id)
                            button.link-button(type='submit' name='submit_param' value='submit_value' class='btn')
                                ='Eliminar'
    br
    a(href='/logout') Cerrar sesión