extends ../layout

block content
    a(href='/') Volver a la página principal
    br
    br
    a(href='/arboles/create') Nuevo Arbol

    table.table
        thead
            tr
                th(scope='col') Especie
                th(scope='col') Ubicación
                th(scope='col') Dirección 
                th(scope='col') Emplazamiento  
                th(scope='col') Estado            
                th(scope='col') 
                th(scope='col') 
        tbody
            each arbolito in arbolitos
                tr
                    td(scope='row')                        
                      = arbolito.especie.nomEspecie
                    td= [arbolito.latitud,arbolito.longitud]
                    td= arbolito.direccion   
                    td= arbolito.emplazamiento.nomEmplazamiento    
                    td= arbolito.estado.nomEstado               
                    td
                        a(href= 'arboles/' + arbolito.id +"/update" class="btn btn-primary") Editar
                    td
                        form.inline(method='post' action='arboles/' + arbolito.id + '/delete')
                            input(type='hidden' name='id' value= arbolito.id)
                            button.link-button(type='submit' name='submit_param' value='submit_value' class='btn')
                                ='Eliminar' 
    br
    a(href='/logout') Cerrar sesión
                    