extends ../layout

block content
    
    br
    br

    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') Nombre
                th(scope='col') Descripcion
        tbody
            each estadito in estaditos
                tr
                    td(scope='row')
                        =estadito.id
                    td= estadito.nomEstado
                    td= estadito.descripcion              
                    
    br