extends ../layout

block content
    
    br
    br

    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') Nombre
                
        tbody
            each emplazamientico in emplazamienticos
                tr
                    td(scope='row')
                        =emplazamientico.id
                    td= emplazamientico.nomEmplazamiento                                  
                    
    br