extends ../layout

block content
    a(href='/arboles') Volver

    br
    br
    br

    h1 Actualizando arbol

    br
    br

    form(action=`/arboles/${arbolito.id}/update` method='post')
        label(for='especie') especie:
        input#especie(type='text' name='especie' value=arbolito.especie)
        a(href='/arboles/listaEspecie' target="_blank") Listado de especies
        br
        label(for='alcaldia') Alcaldia:
        select(name='alcaldia' type= 'text' value=arbolito.alcaldia)
            option(disabled='') Selecciona una opción
            option(value='Álvaro Obregón') Álvaro Obregón
            option(value='Azcapotzalco') Azcapotzalco
            option(value='Benito Juárez') Benito Juárez
            option(value='Coyoacán') Coyoacán
            option(value='Redes matrices servicios públicos') Redes matrices servicios publicos
            option(value='Cuajimalpa de Morelos') Cuajimalpa de Morelos
            option(value='Cuauhtémoc') Cuauhtémoc
            option(value='Iztacalco') Iztacalco
            option(value='Iztapalapa') Iztapalapa
            option(value='Magdalena Contreras') Magdalena Contreras
            option(value='Miguel Hidalgo') Miguel Hidalgo
            option(value='Milpa Alta') Milpa Alta
            option(value='Tláhuac') Tláhuac
            option(value='Tlalpan') Tlalpan
            option(value='Venustiano Carranza') Venustiano Carranza
            option(value='Xochimilco') Xochimilco 
        br
        label(for='direccion') Dirección:
        input#direccion(type='text' name='direccion' value=arbolito.direccion)
        br
        label(for='latitud') Latitud:
        input#latitud(type='text' name='latitud' value=arbolito.latitud)
        br
        label(for='longitud') Longitud:
        input#longitud(type='text' name='longitud' value=arbolito.longitud)
        br
        label(for='emplazamiento') emplazamiento:
        input#emplazamiento(type='text' name='emplazamiento' value=arbolito.emplazamiento)
        a(href='/arboles/listaEmplazamiento' target="_blank") Listado de emplazamientos     
        br
        label(for='estado') estado:
        input#estado(type='text' name='estado' value=arbolito.estado)
        a(href='/arboles/listaEstado' target="_blank") Listado de estados     
        br    
        label(for='aAltura') Altura aproximada: 
        input#aAltura(type='text' name='aAltura' value=arbolito.aAltura)     
        br 
        label(for='aDiametro') Diametro al cuello aproximado:
        input#aDiametro(type='text' name='aDiametro' value=arbolito.aDiametro)   
        br       
        br
        input#btn(type='submit' value='ok')